streamlit
streamlit-option-menu
google-generativeai
pandas
beautifulsoup4
requests
streamlit-drawable-canvas
Pillow
plotly
qrcode
streamlit-lottie
folium
streamlit-folium
fpdf
wordcloud
matplotlib
python-barcode
networkx
gTTS
bcrypt
psutil
colorthief
suntime
audio-recorder-streamlit
SpeechRecognition
altair
geopy
pytz
textblob
Faker
opencv-python-headless
imutils
numpy
librosa
pydub
scipy
