streamlit
streamlit-option-menu
google-generativeai
pandas
beautifulsoup4
requests
streamlit-drawable-canvas
Pillow
plotly
qrcode
streamlit-lottie
folium
streamlit-folium
fpdf
matplotlib
python-barcode
networkx
gTTS
bcrypt
psutil
colorthief
suntime
altair
geopy
pytz
Faker
