streamlit
streamlit-option-menu
google-generativeai
pandas
plotly
qrcode
beautifulsoup4
streamlit-drawable-canvas
Pillow
streamlit-lottie
folium
streamlit-folium
fpdf
matplotlib
python-barcode
networkx
gTTS
bcrypt
psutil
suntime
altair
geopy
pytz
Faker
numpy
requests
